<table>
    <thead>
    <tr>
        <th>#</th>
        <th>Name</th>
    </tr>
    </thead>
    <tbody>
    <tr>
        <td>1</td>
        <td>Uno</td>
    </tr>
    <tr>
        <td>2</td>
        <td>Dos</td>
    </tr>
    <tr>
        <td>3</td>
        <td>Tres</td>
    </tr>
    </tbody>
</table>