<table>
    <thead>
    <tr>
        <th>#</th>
        <th>Name</th>
    </tr>
    </thead>
    <tbody>
    {% for item in items %}
    <tr>
        <td>{{ item.id }}</td>
        <td>{{ item.name }}</td>
    </tr>
    {% endfor %}
    </tbody>
</table>


{{ include('default/paginator.html.twig') }}
