<table>
    <thead>
    <tr>
        <th>#</th>
        <th>Name</th>
    </tr>
    </thead>
    <tbody>
    {% for item in items %}
    <tr>
        <td>{{ item.id }}</td>
        <td>{{ item.name }}</td>
    </tr>
    {% endfor %}
    </tbody>
</table>

<div>
    <button data-page="1" data-action="crud-list#paginate">1</button>
    <button data-page="2" data-action="crud-list#paginate">2</button>
    <button data-page="3" data-action="crud-list#paginate">3</button>
    <button data-page="4" data-action="crud-list#paginate">4</button>
</div>