<div>
    <button data-page="1" data-action="crud-list#paginate">1</button>
    <button data-page="2" data-action="crud-list#paginate">2</button>
    <button data-page="3" data-action="crud-list#paginate">3</button>
    <button data-page="4" data-action="crud-list#paginate">4</button>
</div>
<p>
Página {{ currentPage }} de {{ numberOfPages }} <br>
Número de registros encontrados:{{ totalCount }}
</p>

